Source/Orts.Simulation/Web References/cz.aspone.lkpr/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMirelSignals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMirelSignalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMirelSignalsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSupplyStations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSupplyStationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPowerSupplyStationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSupplyMarkers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSupplyMarkersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPowerSupplyMarkersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSuplyStationVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSuplyStationVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPowerSuplyStationVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSuplyMarkerVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerSuplyMarkerVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPowerSuplyMarkerVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVoltageMarker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVoltageMarkerResponse">
        <s:complexType />
      </s:element>
      <s:element name="SaveMirelSignal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SectionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MirelState" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DatabaseVersion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMirelSignalResponse">
        <s:complexType />
      </s:element>
      <s:element name="SavePowerSupplyStation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PowerSystem" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DatabaseVersion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePowerSupplyStationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SavePowerSupplyStationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePowerSupplyMarker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lon" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Voltage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DatabaseVersion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePowerSupplyMarkerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SavePowerSupplyMarkerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMirelVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMirelVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePowerSuplyStationVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePowerSuplyStationVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePowerSupplyMarkerVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePowerSupplyMarkerVersionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMirelSignalsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMirelSignals" />
  </wsdl:message>
  <wsdl:message name="GetMirelSignalsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMirelSignalsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowerSupplyStationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPowerSupplyStations" />
  </wsdl:message>
  <wsdl:message name="GetPowerSupplyStationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPowerSupplyStationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowerSupplyMarkersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPowerSupplyMarkers" />
  </wsdl:message>
  <wsdl:message name="GetPowerSupplyMarkersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPowerSupplyMarkersResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastVersion" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowerSuplyStationVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetPowerSuplyStationVersion" />
  </wsdl:message>
  <wsdl:message name="GetPowerSuplyStationVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetPowerSuplyStationVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowerSuplyMarkerVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetPowerSuplyMarkerVersion" />
  </wsdl:message>
  <wsdl:message name="GetPowerSuplyMarkerVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetPowerSuplyMarkerVersionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVoltageMarkerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVoltageMarker" />
  </wsdl:message>
  <wsdl:message name="DeleteVoltageMarkerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVoltageMarkerResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMirelSignalSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMirelSignal" />
  </wsdl:message>
  <wsdl:message name="SaveMirelSignalSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMirelSignalResponse" />
  </wsdl:message>
  <wsdl:message name="SavePowerSupplyStationSoapIn">
    <wsdl:part name="parameters" element="tns:SavePowerSupplyStation" />
  </wsdl:message>
  <wsdl:message name="SavePowerSupplyStationSoapOut">
    <wsdl:part name="parameters" element="tns:SavePowerSupplyStationResponse" />
  </wsdl:message>
  <wsdl:message name="SavePowerSupplyMarkerSoapIn">
    <wsdl:part name="parameters" element="tns:SavePowerSupplyMarker" />
  </wsdl:message>
  <wsdl:message name="SavePowerSupplyMarkerSoapOut">
    <wsdl:part name="parameters" element="tns:SavePowerSupplyMarkerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMirelVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMirelVersion" />
  </wsdl:message>
  <wsdl:message name="UpdateMirelVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMirelVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePowerSuplyStationVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePowerSuplyStationVersion" />
  </wsdl:message>
  <wsdl:message name="UpdatePowerSuplyStationVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePowerSuplyStationVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePowerSupplyMarkerVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePowerSupplyMarkerVersion" />
  </wsdl:message>
  <wsdl:message name="UpdatePowerSupplyMarkerVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePowerSupplyMarkerVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetMirelSignals">
      <wsdl:input message="tns:GetMirelSignalsSoapIn" />
      <wsdl:output message="tns:GetMirelSignalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPowerSupplyStations">
      <wsdl:input message="tns:GetPowerSupplyStationsSoapIn" />
      <wsdl:output message="tns:GetPowerSupplyStationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPowerSupplyMarkers">
      <wsdl:input message="tns:GetPowerSupplyMarkersSoapIn" />
      <wsdl:output message="tns:GetPowerSupplyMarkersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastVersion">
      <wsdl:input message="tns:GetLastVersionSoapIn" />
      <wsdl:output message="tns:GetLastVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPowerSuplyStationVersion">
      <wsdl:input message="tns:GetPowerSuplyStationVersionSoapIn" />
      <wsdl:output message="tns:GetPowerSuplyStationVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPowerSuplyMarkerVersion">
      <wsdl:input message="tns:GetPowerSuplyMarkerVersionSoapIn" />
      <wsdl:output message="tns:GetPowerSuplyMarkerVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVoltageMarker">
      <wsdl:input message="tns:DeleteVoltageMarkerSoapIn" />
      <wsdl:output message="tns:DeleteVoltageMarkerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMirelSignal">
      <wsdl:input message="tns:SaveMirelSignalSoapIn" />
      <wsdl:output message="tns:SaveMirelSignalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePowerSupplyStation">
      <wsdl:input message="tns:SavePowerSupplyStationSoapIn" />
      <wsdl:output message="tns:SavePowerSupplyStationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePowerSupplyMarker">
      <wsdl:input message="tns:SavePowerSupplyMarkerSoapIn" />
      <wsdl:output message="tns:SavePowerSupplyMarkerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMirelVersion">
      <wsdl:input message="tns:UpdateMirelVersionSoapIn" />
      <wsdl:output message="tns:UpdateMirelVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePowerSuplyStationVersion">
      <wsdl:input message="tns:UpdatePowerSuplyStationVersionSoapIn" />
      <wsdl:output message="tns:UpdatePowerSuplyStationVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePowerSupplyMarkerVersion">
      <wsdl:input message="tns:UpdatePowerSupplyMarkerVersionSoapIn" />
      <wsdl:output message="tns:UpdatePowerSupplyMarkerVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMirelSignals">
      <soap:operation soapAction="http://tempuri.org/GetMirelSignals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSupplyStations">
      <soap:operation soapAction="http://tempuri.org/GetPowerSupplyStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSupplyMarkers">
      <soap:operation soapAction="http://tempuri.org/GetPowerSupplyMarkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersion">
      <soap:operation soapAction="http://tempuri.org/GetLastVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSuplyStationVersion">
      <soap:operation soapAction="http://tempuri.org/GetPowerSuplyStationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSuplyMarkerVersion">
      <soap:operation soapAction="http://tempuri.org/GetPowerSuplyMarkerVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVoltageMarker">
      <soap:operation soapAction="http://tempuri.org/DeleteVoltageMarker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMirelSignal">
      <soap:operation soapAction="http://tempuri.org/SaveMirelSignal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePowerSupplyStation">
      <soap:operation soapAction="http://tempuri.org/SavePowerSupplyStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePowerSupplyMarker">
      <soap:operation soapAction="http://tempuri.org/SavePowerSupplyMarker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMirelVersion">
      <soap:operation soapAction="http://tempuri.org/UpdateMirelVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePowerSuplyStationVersion">
      <soap:operation soapAction="http://tempuri.org/UpdatePowerSuplyStationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePowerSupplyMarkerVersion">
      <soap:operation soapAction="http://tempuri.org/UpdatePowerSupplyMarkerVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMirelSignals">
      <soap12:operation soapAction="http://tempuri.org/GetMirelSignals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSupplyStations">
      <soap12:operation soapAction="http://tempuri.org/GetPowerSupplyStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSupplyMarkers">
      <soap12:operation soapAction="http://tempuri.org/GetPowerSupplyMarkers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersion">
      <soap12:operation soapAction="http://tempuri.org/GetLastVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSuplyStationVersion">
      <soap12:operation soapAction="http://tempuri.org/GetPowerSuplyStationVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerSuplyMarkerVersion">
      <soap12:operation soapAction="http://tempuri.org/GetPowerSuplyMarkerVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVoltageMarker">
      <soap12:operation soapAction="http://tempuri.org/DeleteVoltageMarker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMirelSignal">
      <soap12:operation soapAction="http://tempuri.org/SaveMirelSignal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePowerSupplyStation">
      <soap12:operation soapAction="http://tempuri.org/SavePowerSupplyStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePowerSupplyMarker">
      <soap12:operation soapAction="http://tempuri.org/SavePowerSupplyMarker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMirelVersion">
      <soap12:operation soapAction="http://tempuri.org/UpdateMirelVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePowerSuplyStationVersion">
      <soap12:operation soapAction="http://tempuri.org/UpdatePowerSuplyStationVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePowerSupplyMarkerVersion">
      <soap12:operation soapAction="http://tempuri.org/UpdatePowerSupplyMarkerVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://lkpr.aspone.cz/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://lkpr.aspone.cz/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>