Source/Menu/Web References/cz.aspone.lkpr/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMirelSignals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMirelSignalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMirelSignalsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMirelSignal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SectionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MirelState" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DatabaseVersion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMirelSignalResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMirelVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Track" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMirelVersionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMirelSignalsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMirelSignals" />
  </wsdl:message>
  <wsdl:message name="GetMirelSignalsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMirelSignalsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastVersion" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMirelSignalSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMirelSignal" />
  </wsdl:message>
  <wsdl:message name="SaveMirelSignalSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMirelSignalResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMirelVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMirelVersion" />
  </wsdl:message>
  <wsdl:message name="UpdateMirelVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMirelVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetMirelSignals">
      <wsdl:input message="tns:GetMirelSignalsSoapIn" />
      <wsdl:output message="tns:GetMirelSignalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastVersion">
      <wsdl:input message="tns:GetLastVersionSoapIn" />
      <wsdl:output message="tns:GetLastVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMirelSignal">
      <wsdl:input message="tns:SaveMirelSignalSoapIn" />
      <wsdl:output message="tns:SaveMirelSignalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMirelVersion">
      <wsdl:input message="tns:UpdateMirelVersionSoapIn" />
      <wsdl:output message="tns:UpdateMirelVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMirelSignals">
      <soap:operation soapAction="http://tempuri.org/GetMirelSignals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersion">
      <soap:operation soapAction="http://tempuri.org/GetLastVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMirelSignal">
      <soap:operation soapAction="http://tempuri.org/SaveMirelSignal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMirelVersion">
      <soap:operation soapAction="http://tempuri.org/UpdateMirelVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMirelSignals">
      <soap12:operation soapAction="http://tempuri.org/GetMirelSignals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersion">
      <soap12:operation soapAction="http://tempuri.org/GetLastVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMirelSignal">
      <soap12:operation soapAction="http://tempuri.org/SaveMirelSignal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMirelVersion">
      <soap12:operation soapAction="http://tempuri.org/UpdateMirelVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://lkpr.aspone.cz/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://lkpr.aspone.cz/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>